header {
  background-image: linear-gradient(
    90deg,
    rgb(218, 174, 110) 0%,
    rgb(213, 51, 105) 25%,
    rgb(176, 0, 18) 50%,
    rgb(213, 51, 105) 75%,
    rgb(218, 174, 100) 100%
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.logo-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
