* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  padding: 20px;
  color: #eaeaea;
  font-family: system-ui, sans-serif;
  /*background-image: url("../public/img/Fondo.jpg");*/
  background-image: url("https://i.ibb.co/DPDPz7MG/Fondo.jpg");
  background-size: cover; /* Cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  background-attachment: fixed; /* Opcional: fija la imagen al hacer scroll */
}

/* Para que el footer quede abajo siempre: hay que mantener la estructura de header-main-footer */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Y que main ocupe el mayor espacio disponible */
main {
  flex: 1;
  width: 80%;
  margin: auto;
  background: #ddd;
  padding: 20px;
  /*background-image: url("../public/img/Fondo3.jpg");*/
  background-image: url("https://i.ibb.co/kg4FKPPZ/Fondo3.jpg");
  background-size: cover; /* Cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  background-attachment: fixed; /* Opcional: fija la imagen al hacer scroll */
}

h1 {
  width: 100%;
  text-align: center;
}

.primary {
  color: #eaeaea;
}

.secondary {
  color: #b3b3b3;
}

.disabled {
  color: #7a7a7a;
}

.bg-primary {
  background-color: #3b82f6;
}

.bg-success {
  background-color: #28a745;
}

.bg-delete {
  background-color: #dc3545;
}

.btn {
  background-color: #3b82f6;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #2563eb;
}

.btn:disabled {
  background-color: #7a7a7a;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
